* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
    }
    h1 {
    font-size: 2em;
    }
    h2 {
    font-size: 1.5em;
    }
    @media screen and (max-width: 800px) {
    html {
    font-size: 80%;
    }
    }

  header {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    align-items: end;
    width: 100%;
    text-decoration: none;
    position: sticky;
    top: 0;
  }
  
  #logocontainer {
    width: 40%;
    margin-right: 5%;
    padding: 10px;
  }
  
  nav {
    width: 75%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: end;
    /* text-align: center; */
    justify-content: space-around; 
    overflow: hidden;
  }

  nav a {
    width: 25%;
    text-decoration: none;
    color: #726594;
    font-size: 20px;
  }
  
  nav a:hover { 
    font-style: normal;
    text-decoration: none; 
    font-family: 'Rubik Bubbles'; 
    font-size: 35px;
    color: #a699c6;
  }

/* BODY (general) */

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Rubik Bubbles';
    background-color: rgb(176, 214, 165);
  }

  main {
    color: #726594;
 }

 .description {
    font-family: 'Rubik Bubbles';
    font-weight: 100;
    font-style: none;
    font-size: 40px;
    text-align: justify;
    display: flex;
    margin: 80px;
    padding: 50px;
 }

 .description-two {
  font-family: 'Rubik Bubbles';
    font-weight: 100;
    font-style: none;
    font-size: 40px;
    text-align: justify;
    display: flex;
    margin: 80px;
    padding: 50px;
 }

 /* Home */

 .imagecontainer {
    position: relative;
    width: 100%;
    max-width: 1200%; 
    overflow: hidden;
  }
  
  .corgis {
    max-width: 1200%;
    padding: 5px;
    border-radius: 90px;
    height: auto;
    display: block;
  }

 /* p {
    font-family: 'Rubik Bubbles';
    font-weight: 600;
    font-style: none;
    font-size: 40px;
    text-align: justify;
    display: flex;
    margin: 80px;
    padding: 50px;
  } */
 

   
footer {
    background-color: #ffffff;
    color: #a2a0a0;
    padding: 60px 60px;
    font-size: 10px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

/* EVENTS */

.imagecontainertwo {
    /* position: relative; */
    /* width: 50%;
    height: auto; */

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;

  }

  .columns-image, .columns-imagetwo, .columns-imagethree {
    width: 100%;
    display: flex;
    flex-grow: 1;
    column-gap: 50px;
    justify-content: center;
  }

 
 .kitten {
    /* max-width: 100%;
    padding: 120px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  */

    width: 100%;
    max-width: 612px;
    height: auto;
    display: flex;
    border-radius: 90px;
  }

.imagecontainerthree {
  /* position: relative; */
  /* width: 50%;
  height: auto; */

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;

}

.cat {
    /* max-width: 100%;
    padding: 120px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  */

    width: 100%;
    max-width: 612px;
    height: auto;
    display: flex;
    border-radius: 90px;
}

.imagecontainerfour {
  /* position: relative; */
  /* width: 50%; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;

}

.kitty {
  /* max-width: 100%;
  padding: 120px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */

  width: 100%;
  max-width: 612px;
  height: auto;
  display: block;
  border-radius: 90px;
}

.day-one {
    font-family: 'Rubik Bubbles';
    font-weight: 100;
    font-style: none;
    font-size: 30px;
    text-align: justify;
    display: flex;
    margin: 80px;
    padding: 50px;
}
.one {
    font-family: 'Rubik Bubbles';
    font-weight: 100;
    font-style: none;
    font-size: 60px;
    text-align: justify;
    display: flex;
    margin: 80px;
}

.day-two {
    font-family: 'Rubik Bubbles';
    font-weight: 100;
    font-style: none;
    font-size: 30px;
    text-align: justify;
    display: flex;
    margin: 80px;
    padding: 50px;
}

.two {
    font-family: 'Rubik Bubbles';
    font-weight: 100;
    font-style: none;
    font-size: 60px;
    text-align: justify;
    display: flex;
    margin: 80px;
}

.day-three {
    font-family: 'Rubik Bubbles';
    font-weight: 100;
    font-style: none;
    font-size: 30px;
    text-align: justify;
    display: flex;
    margin: 80px;
    padding: 50px;
}
.three {
    font-family: 'Rubik Bubbles';
    font-weight: 100;
    font-style: none;
    font-size: 60px;
    text-align: justify;
    display: flex;
    margin: 80px;
}

/* SHOP */


h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    
}


.container-items {
  padding: 5%;
  width: 100%;
  height: 100vh;
}

.columns {
  width: 100%;
  display: flex;
  flex-grow: 1;
  column-gap: 50px;
  justify-content: center;
}

/* .container-items:hover {
  transform: scale(90%);
} */

.petbowl:hover, .petnametag:hover, .petwastebag:hover {
  border-radius: 3em;
  height: 375px;
  padding: 2%;
  transform: scale(90%);
  -webkit-transform: scale(90%);
  -moz-transform: scale(90%);
  -ms-transform: scale(90%);
  -o-transform: scale(90%);
}


ul {
  list-style-type: none;
}

li {
  font-size: 1.3em;
}

h3 {
  font-size: 2em;
}

h6 {
  font-size: 1.4em;
}

.dayone:hover, .daytwo:hover, .daythree:hover {
  border-radius: 3em;
  height: 375px;
  transform: scale(90%);
  -webkit-transform: scale(90%);
  -moz-transform: scale(90%);
  -ms-transform: scale(90%);
  -o-transform: scale(90%);
}

.tickets {
  font-size: 1.3em;
}